# House Price Analysis Using Phyton

## Created By: <font color='darkpurple'>Agus Tri Wibowo</font>

In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_fc7fea6223fa4fdfb6ab9f147fe3a225 = 'https://s3-api.us-geo.objectstorage.softlayer.net'
else:
    endpoint_fc7fea6223fa4fdfb6ab9f147fe3a225 = 'https://s3-api.us-geo.objectstorage.service.networklayer.com'

client_fc7fea6223fa4fdfb6ab9f147fe3a225 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='JU652VRrI6iN7oqUfBHhU_Kfhb7XEABBYwtcFZsteIxS',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_fc7fea6223fa4fdfb6ab9f147fe3a225)

body = client_fc7fea6223fa4fdfb6ab9f147fe3a225.get_object(Bucket='project1-donotdelete-pr-kzunmkqzmh7can',Key='house_price.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

house_price = pd.read_csv(body)
house_price.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
#Importing Data visualization packages
import seaborn